/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#include <locale/keys_de.h>

#define BASE 0
#define SYMBOLS 1
#define NAV 2
#define GAMING 3

/ {
    chosen {
        zmk,physical-layout = &foostan_corne_5col_layout;
    };

    behaviors {
        as: auto_shift {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping_term_ms = <200>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

		&lt {
			tapping-term-ms = <280>;
		};
		
		hml: home_row_mod_left {
			compatible = "zmk,behavior-hold-tap";
			#binding-cells = <2>;
			flavor = "balanced";
			require-prior-idle-ms = <150>;
			tapping-term-ms = <280>;
			quick-tap-ms = <175>;
			bindings = <&kp>, <&kp>;
			hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 25 26 27 28 29>; // List of keys on the right side of the keyboard
			hold-trigger-on-release;
		};
		
		hmr: home_row_mod_right {
			compatible = "zmk,behavior-hold-tap";
			#binding-cells = <2>;
			flavor = "balanced";
			require-prior-idle-ms = <150>;
			tapping-term-ms = <280>;
			quick-tap-ms = <175>;
			bindings = <&kp>, <&kp>;
			hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24>; // List of keys on the left side of the keyboard
			hold-trigger-on-release;																																																													        };
		};
    };
        keymap {
                compatible = "zmk,keymap";

				default_layer {
					display-name = "Base";
					bindings = <
						&kp DE_Q        &kp DE_W       &kp DE_E       &kp DE_R         &kp DE_T         &kp DE_Z  &kp DE_U         &kp DE_I       &kp DE_O       &kp DE_P
						&hml LCTRL DE_A &hml LALT DE_S &hml LCMD DE_D &hml LSHIFT DE_F &kp DE_G         &kp DE_H  &hmr RSHIFT DE_J &hmr RCMD DE_K &hmr RALT DE_L &hmr RCTRL DE_PLUS
						&kp DE_Y        &kp DE_X       &kp DE_C       &kp DE_V         &kp DE_B         &kp DE_N  &kp DE_M         &kp DE_COMMA   &kp DE_DOT      &kp DE_MINUS
						                               &lt NAV ESC    &lt SYMBOLS TAB  &kp SPACE        &kp ENTER &lt SYMBOLS DEL  &lt NAV BSPC
					>;
				};

				symbols_layer {
					display-name = "Symbols";
					binsings = <
						&kp DE_N1        &kp DE_N2       &kp DE_N3         &kp DE_N4           &kp DE_N5          &kp DE_N6   &kp DE_N7           &kp DE_N8         &kp DE_N9        &kp DE_N0
						&hml LCTRL DE_AT &hml LALT DE_LT &hml LCMD DE_LBKT &hml LSHIFT DE_LBRC &kp DE_LPAR        &kp DE_RPAR &hmr RSHIFT DE_RBRC &hmr RCMD DE_RBKT &hmr RALT DE_GT  &hmr RCTRL DE_HASH
						&kp DE_PIPE      &kp DE_TILDE    &kp DE_BSLH       &kp DE_CARET        &kp DE_SQT         &kp DE_DQT  &kp DE_A_UMLAUT     &kp DE_O_UMLAUT   &kp DE_U_UMLAUT  &kp DE_SZ
						                                 &trans            &trans              &trans             &trans      &trans              &trans
					>;
				};

				nav_layer {
					display-name = "Navigation";
					bindings = <
						&kp F1    &kp F2    &kp F3   &kp F4     &kp F5        &kp F8 &kp F9     &kp F10   &kp F11   &kp F12
						&kp LCTRL &kp LALT  &kp LCMD &kp LSHIFT &kp F6        &kp F7 &kp RSHIFT &kp RCMD  &kp RALT  &kp RCTRL
						&kp PG_UP &kp PG_DN &kp HOME &kp END    &none         &none  &kp LEFT   &kp DOWN  &kp UP    &kp RIGHT
						                    &trans   &trans     &trans        &trans &trans     &trans
					>;
				};

				gaming_layer {
					display-name = "Gaming";
					bindings = <
						&kp TAB    &kp DE_Q &kp DE_W &kp DE_E &kp DE_R         &kp DE_T  &kp DE_Z &kp DE_I     &kp DE_O   &kp DE_P
						&kp LSHIFT &kp DE_A &kp DE_S &kp DE_D &kp DE_F         &kp DE_G  &kp DE_H &kp DE_K     &kp DE_L   &kp DE_O_UMLAUT
						&kp LCTRL  &kp DE_Y &kp DE_X &kp DE_C &kp DE_V         &kp DE_B  &kp DE_N &kp DE_COMMA &kp DE_DOT &kp DE_MINUS
						                    &kp ESC  &kp LALT &kp SPACE        &kp ENTER &none &tog BASE
					>;
				};
				
                extra_1 {
                        status = "reserved";
                };

                extra_2 {
                        status = "reserved";
                };

                extra_3 {
                        status = "reserved";
                };
        };

		combos {
			compatible = "zmk,combos";
			
			combo_gaming {
				timeout-ms = <50>;
				key-positions = <30 35>;
				bindings = <&tog GAMING>;
			};
		};
		};
};
